<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses data from <a target="_blank" href="https://docs.mapbox.com/api/overview/">Mapbox</a> <a target="_blank" href="https://weatherstack.com/">WeatherStack</a></p>
    </div>
    
    {{>footer}}
</body>

</html>